@model Shop.Models.EF.User



<div class="jumbotron">
    <a class="btn btn-success" href="/Employee/ProductSearch/@Model.UserID">All products</a> |
    <a class="btn btn-success" href="/Employee/Checkout/@Model.UserID">Check Orders</a> |
    <a class="btn btn-success" href="/Employee/Profiles/@Model.UserID">View profile</a> |
    <a class="btn btn-success" href="/Employee/Edit/@Model.UserID">Edit profile</a> |
    <a class="btn btn-danger" href="/Employee/Logout">Logout</a>

</div>
