@model Shop.Models.EF.User



<div class="jumbotron">
    <a class="btn btn-primary" href="/Customer/Profiles/@Model.UserID">View profile</a>   <hr />
    <a class="btn btn-primary" href="/Customer/Edit/@Model.UserID">Edit profile</a>   <hr />
    <a class="btn btn-primary" href="/Product/ProductSearch">Shopping</a>   <hr />
    <a href="/Product/MyOrders" class="btn btn-primary">MyOrders</a> <hr />
    <a class="btn btn-warning" href="/Customer/Logout">Logout</a>   <hr />

</div>